$backgroundcolorone: #479ed3;
$backgroundcolortwo: whitesmoke;
$backgroundcolorthree: #ff9f39;
$fontfamily:'Rock Salt', century;
$fontfamilytwo:'Architects Daughter', century;


body{

	background-image: url("../images/surfer.jpg");
	background-size:101%;
	width:100%;
	text-align:center;

	.logo{
		margin-left: 76%;
		height: 76px;
		width: 145px;
		margin-top: 2%;
	}

	header:hover{
		-moz-box-shadow: 3px 3px 5px 8px #e1e1e1;
  		-webkit-box-shadow: 3px 3px 5px 8px #e1e1e1;
  		box-shadow: 3px 3px 5px 8px #e1e1e1;
			}

	header{
	background-color: $backgroundcolortwo;
	border-radius: 10px;
	width: 70%;
	opacity: 0.8;
	padding-bottom: 0;
	margin:0 14%;
	font-size: 181%;


	h1{
		text-align: center;
		font-family: $fontfamily;
		font-family: $fontfamilytwo;
		margin-bottom: 0;
		height:82px;
		position:relative;
		top:7px;
		}
	}


	.input:hover{
		-moz-box-shadow: 3px 3px 5px 8px #43a1d8;
  		-webkit-box-shadow: 3px 3px 5px 8px #43a1d8;
  		box-shadow: 3px 3px 5px 8px #43a1d8;
  	}

	.input{
		margin-left: 14%;
		background-color: $backgroundcolorone;
		width: 70%;
		border-radius: 10px;
		opacity: 0.8;
		margin-top: 1%;
		padding-bottom:1%;

		h2{
			padding-top: 0;
			margin-top: 0.5px;
			font-family: $fontfamilytwo;
			margin-left: 12px;
			}
		form p{
			font-family:$fontfamilytwo;
		}

		form{
				margin-left: 15px;

			h3{font-family: $fontfamilytwo;}

			#name, #age{
				border-radius:10px;
				border:none;
				height:20px;
			}

			button{
					background-color: $backgroundcolorthree;
					border-radius: 10%;
					width: 75px;
					height: 30px;
					font-family: courier;
					font-weight: bolder;
					border:none;
					font-size:16px;
			}

			select{
					background-color: $backgroundcolorthree;
					height:30px;
					font-size:16px;
					font-family: courier;
					font-weight: bolder;

			}

		}

	}

	.output:hover {
			-moz-box-shadow: 3px 3px 5px 8px #e1e1e1;
  			-webkit-box-shadow: 3px 3px 5px 8px #e1e1e1;
  			box-shadow: 3px 3px 5px 8px #e1e1e1;
			}


	.output {

		margin-left: 14%;
		margin-bottom: 26%;
		margin-top: 1%;
		background-color: $backgroundcolortwo;
		width: 70%;
		border-radius: 10px;
		opacity: 0.8;
		padding-top:1%;
		padding-bottom:1%;
		font-family: $fontfamilytwo;
		height: 600px;

		h3 {
			font-family: $fontfamilytwo;
		}

		h2 {
			text-align:center;

		}

		.list h2 {
			text-decoration:underline;
		}

		p {
			font-family: $fontfamilytwo;
			font-size: 1.5em;
			margin-left: 3%;
			}
	}

	.profile {
		text-align:center;
		background-color: $backgroundcolorone;
		width:37%;
		position:relative;
		left:32%;
		border-radius:24%;
	}

	.avatar {
		width:50px;
	}
}

.hide{
	display:none;
}
.list{
	height:384px;
	width:100%;
}
.listItems{

	li{
		height:50px;
		width:100%;
		font-size:1.5em;
		text-align:left;

		}

		img {
			vertical-align:bottom;
			float:right;
			padding:0 10px;
		}

	}

.addItems{
	position:relative;
	left:2%;

	input{
		color:black;
		border: 2px solid $backgroundcolorthree;
		height:30px;
		font-size:16px;
		font-family:courier;
		width:75%;
	}

	button {
		font-family:courier;
		font-size:16px;
		height:30px;
		border:none;
		background-color:$backgroundcolorthree;
	}
}

.lucky {
	font-family:courier;
	font-size:16px;
	height:30px;
	border:none;
	background-color:$backgroundcolorthree;
}

.line{
	text-decoration:line-through;
}


@media all and (max-width: 640px){
	
	body{
		background-image: url("../images/surfer copy.jpg");
		background-size:101%;
		width:100%;
		height: 100%;
		text-align:center;
	}
	


	.output {

		margin-left: 14%;
		margin-bottom: 26%;
		margin-top: 1%;
		background-color: $backgroundcolortwo;
		width: 70%;
		border-radius: 10px;
		opacity: 0.8;
		padding-top:1%;
		padding-bottom:1%;
		font-family: $fontfamilytwo;
		height: 600px;
}
